[submodule "extern/riscv-gnu-toolchain"]
	path = extern/riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
[submodule "extern/riscv-pk"]
	path = extern/riscv-pk
	url = https://github.com/riscv/riscv-pk.git
[submodule "extern/riscv-isa-sim"]
	path = extern/riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim.git
